[submodule "limits-service"]
	path = limits-service
	url = https://github.com/khabib97/limits-service.git
[submodule "spring-cloud-config-server"]
	path = spring-cloud-config-server
	url = https://github.com/khabib97/spring-cloud-config-server.git
